<section id="faq" class="faq">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Be Curious</h2>
            <p>
                Answers to questions that very few people ask or questions which never
                even come to the minds of some people throughout their life.
            </p>
        </div>
        <div class="faq-list">
            <ul>
                <li data-aos="fade-up" data-aos="fade-up" data-aos-delay="100">
                    <i class="bx bx-help-circle icon-help"></i>
                    <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Non consectetur a erat
                        nam at lectus urna duis?
                        <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                        <p>
                            Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id
                            volutpat lacus laoreet non curabitur gravida. Venenatis lectus
                            magna fringilla urna porttitor rhoncus dolor purus non.
                        </p>
                    </div>
                </li>
                <li data-aos="fade-up" data-aos-delay="200">
                    <i class="bx bx-help-circle icon-help"></i>
                    <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Feugiat scelerisque
                        varius morbi enim nunc?
                        <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Dolor sit amet consectetur adipiscing elit pellentesque habitant
                            morbi. Id interdum velit laoreet id donec ultrices. Fringilla
                            phasellus faucibus scelerisque eleifend donec pretium. Est
                            pellentesque elit ullamcorper dignissim. Mauris ultrices eros in
                            cursus turpis massa tincidunt dui.
                        </p>
                    </div>
                </li>
                <li data-aos="fade-up" data-aos-delay="300">
                    <i class="bx bx-help-circle icon-help"></i>
                    <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Dolor sit amet
                        consectetur adipiscing elit?
                        <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Eleifend mi in nulla posuere sollicitudin aliquam ultrices
                            sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla
                            pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque
                            eu tincidunt. Lectus urna duis convallis convallis tellus. Urna
                            molestie at elementum eu facilisis sed odio morbi quis
                        </p>
                    </div>
                </li>
                <li data-aos="fade-up" data-aos-delay="400">
                    <i class="bx bx-help-circle icon-help"></i>
                    <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Tempus quam pellentesque
                        nec nam aliquam sem et tortor consequat?
                        <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Molestie a iaculis at erat pellentesque adipiscing commodo.
                            Dignissim suspendisse in est ante in. Nunc vel risus commodo
                            viverra maecenas accumsan. Sit amet nisl suscipit adipiscing
                            bibendum est. Purus gravida quis blandit turpis cursus in.
                        </p>
                    </div>
                </li>
                <li data-aos="fade-up" data-aos-delay="500">
                    <i class="bx bx-help-circle icon-help"></i>
                    <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Tortor vitae purus
                        faucibus ornare. Varius vel pharetra vel turpis
                        nunc eget lorem dolor? <i class="bx bx-chevron-down icon-show"></i><i
                            class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris
                            vitae ultricies leo integer malesuada nunc vel. Tincidunt eget
                            nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut
                            venenatis tellus in metus vulputate eu scelerisque.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<section id="features" class="features">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Features</h2>
            <p>
                Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex
                aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos
                quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat
                sit in iste officiis commodi quidem hic quas.
            </p>
        </div>
        <div class="row">
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column align-items-lg-center">
                <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
                    <i class="bx bx-receipt"></i>
                    <h4>Est labore ad</h4>
                    <p>
                        Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris
                        nisi ut aliquip
                    </p>
                </div>
                <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="200">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Harum esse qui</h4>
                    <p>
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                        officia deserunt
                    </p>
                </div>
                <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="300">
                    <i class="bx bx-images"></i>
                    <h4>Aut occaecati</h4>
                    <p>
                        Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores
                        omnis facere
                    </p>
                </div>
                <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="400">
                    <i class="bx bx-shield"></i>
                    <h4>Beatae veritatis</h4>
                    <p>
                        Expedita veritatis consequuntur nihil tempore laudantium vitae denat
                        pacta
                    </p>
                </div>
            </div>
            <div class="image col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                <img src="assets/img/features.svg" alt="" class="img-fluid" />
            </div>
        </div>
    </div>
</section>
<section id="counts" class="counts">
    <div class="container">
        <div class="section-title">
          <h2>Commercial Partners</h2>
          <p>Companies and Organizations that Support and Sponsor us. Also the ones that do the most funding for our Research and Projects. They are also our clients and customers.</p>
        </div>
        <div class="row counters">
          <div class="col-lg-2 col-6 text-center"><img src="https://upload.wikimedia.org/wikipedia/commons/d/dd/Stark_Industries_Logo.png" alt="Stark Industries"><br>Stark Industries</div>
          <div class="col-lg-2 col-6 text-center"><img src="https://www.kindpng.com/picc/m/85-854814_pym-technologies-logo-hd-png-download.png" alt="Pym Technologies"><br>Pym Technologies</div>
          <div class="col-lg-2 col-6 text-center"><img src="https://www.kindpng.com/picc/m/29-297859_marvel-shield-logo-svg-hd-png-download.png" alt="S.H.E.I.L.D."><br>S.H.E.I.L.D.</div>
          <div class="col-lg-2 col-6 text-center"><img src="https://nerdist.com/wp-content/uploads/2020/08/S.W.O.R.D.-Logo.jpg" alt="S.W.O.R.D."><br>S.W.O.R.D.</div>
          <div class="col-lg-2 col-6 text-center"><img src="https://i.ytimg.com/vi/16SqyDPiLJ8/maxresdefault.jpg" alt="A.I.M."><br> A.I.M.</div>
          <div class="col-lg-2 col-6 text-center"><img src="https://ih1.redbubble.net/image.773303129.7213/st,small,507x507-pad,600x600,f8f8f8.u11.jpg" alt="AlcheMax"><br>AlcheMax</div>
          <div class="col-lg-2 col-6 text-center"><img src="https://logodix.com/logo/1675047.png" alt="Oscorp Industries"><br>Oscorp Industries</div>
          <div class="col-lg-2 col-6 text-center"><img src="https://oyster.ignimgs.com/mediawiki/apis.ign.com/marvel-studios-cinematic-universe/8/82/Hammerindustries-logo-justinhammer.jpg?width=325" alt="Hammer Industries"><br>Hammer Industries</div>
          <div class="col-lg-2 col-6 text-center"><img src="https://ih1.redbubble.net/image.1930382457.5913/st,small,507x507-pad,600x600,f8f8f8.jpg" alt="Roxxon Corporation"><br>Roxxon Corporation</div>
          <div class="col-lg-2 col-6 text-center"><img src="https://image.spreadshirtmedia.com/image-server/v1/mp/products/T1459A842MPA3861PT28D1043106422FS2358/views/1,width=378,height=378,appearanceId=842,backgroundColor=F2F2F2/hawkeye-kate-bishop-bishop-security-sweatshirt.jpg" alt="Bishop Security"><br>Bishop Security</div>
          <div class="col-lg-2 col-6 text-center"><img src="https://res.cloudinary.com/teepublic/image/private/s--TQ2bqsJc--/t_Resized%20Artwork/c_fit,g_north_west,h_954,w_954/co_fffffe,e_outline:48/co_fffffe,e_outline:inner_fill:48/co_ffffff,e_outline:48/co_ffffff,e_outline:inner_fill:48/co_bbbbbb,e_outline:3:1000/c_mpad,g_center,h_1260,w_1260/b_rgb:eeeeee/c_limit,f_auto,h_630,q_90,w_630/v1597786785/production/designs/13193773_0.jpg" alt="X-Con"><br>X-Con</div>
        </div>
    </div>
  </section>
<section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>What Our Customers Say</h2>
            <p></p>
        </div>
        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            MusTech Inc. fully designed my fully functioning website for me
                            with advanced features like taking orders and having a good
                            communication with my customers. They even took care of the free
                            hosting and till now manage updates if i want. You can also visit
                            us at
                            <a href="https://apieceofcake.infinityfreeapp.com" target="_blank">A Piece Of Cake</a>.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/simrahMahmood.jpg" class="testimonial-img"
                            alt="Simrah Mahmood" />
                        <h3>Simrah Mahmood</h3>
                        <h4>Founder, A Piece Of Cake</h4>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Export tempor illum tamen malis malis eram quae irure esse labore
                            quem cillum quid cillum eram malis quorum velit fore eram velit
                            sunt aliqua noster fugiat irure amet legam anim culpa.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="" />
                        <h3>Skyla Cui</h3>
                        <h4>Designer</h4>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Enim nisi quem export duis labore cillum quae magna enim sint
                            quorum nulla quem veniam duis minim tempor labore quem eram duis
                            noster aute amet eram fore quis sint minim.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="" />
                        <h3>Jena Karlis</h3>
                        <h4>Store Owner</h4>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos
                            export minim fugiat minim velit minim dolor enim duis veniam ipsum
                            anim magna sunt elit fore quem dolore labore.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="" />
                        <h3>Matt Brandon</h3>
                        <h4>Freelancer</h4>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Quis quorum aliqua sint quem legam fore sunt eram irure aliqua
                            veniam tempor noster veniam enim culpa labore duis sunt culpa
                            nulla illum cillum fugiat legam esse veniam culpa.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="" />
                        <h3>John Larson</h3>
                        <h4>Entrepreneur</h4>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
<section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Portfolio</h2>
            <p>
                Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex
                aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos
                quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat
                sit in iste officiis commodi quidem hic quas.
            </p>
        </div>
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-app">App</li>
                    <li data-filter=".filter-card">Card</li>
                    <li data-filter=".filter-web">Web</li>
                </ul>
            </div>
        </div>
        <div class="row portfolio-container">
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="" />
                    <div class="portfolio-info">
                        <h4>App 1</h4>
                        <p>App</p>
                    </div>
                    <div class="portfolio-links">
                        <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery"
                            class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="" />
                    <div class="portfolio-info">
                        <h4>Web 3</h4>
                        <p>Web</p>
                    </div>
                    <div class="portfolio-links">
                        <a href="assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery"
                            class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="" />
                    <div class="portfolio-info">
                        <h4>App 2</h4>
                        <p>App</p>
                    </div>
                    <div class="portfolio-links">
                        <a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery"
                            class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="" />
                    <div class="portfolio-info">
                        <h4>Card 2</h4>
                        <p>Card</p>
                    </div>
                    <div class="portfolio-links">
                        <a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery"
                            class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="" />
                    <div class="portfolio-info">
                        <h4>Web 2</h4>
                        <p>Web</p>
                    </div>
                    <div class="portfolio-links">
                        <a href="assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery"
                            class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="" />
                    <div class="portfolio-info">
                        <h4>App 3</h4>
                        <p>App</p>
                    </div>
                    <div class="portfolio-links">
                        <a href="assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery"
                            class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="" />
                    <div class="portfolio-info">
                        <h4>Card 1</h4>
                        <p>Card</p>
                    </div>
                    <div class="portfolio-links">
                        <a href="assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery"
                            class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="" />
                    <div class="portfolio-info">
                        <h4>Card 3</h4>
                        <p>Card</p>
                    </div>
                    <div class="portfolio-links">
                        <a href="assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery"
                            class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="" />
                    <div class="portfolio-info">
                        <h4>Web 3</h4>
                        <p>Web</p>
                    </div>
                    <div class="portfolio-links">
                        <a href="assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery"
                            class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>