body {
    background-color: rgba(162, 161, 207, 0.6);
}

div#firebaseui-auth-container {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-image: url("../img/ironMan.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

div.firebaseui-card-content {
    background-color: rgba(3, 3, 51, 0.8);
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    text-align: center;
    color: rgba(5, 4, 61, 0.8);
}