<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>Arc Inc.</h3>
          <p>
            890 Fifth Avenue<br>
            Manhattan<br>
            New York City <br><br>
            <strong>Phone:</strong> +91 900 538 0846<br>
            <strong>Email:</strong> technology.arc@outlook.com<br>
            <img height="200px" width="200px" src="https://raw.githubusercontent.com/Arc-Repo/arc-website/main/assets/img/Arc%20Inc.%20Website%20QR.png" alt='QR Code'/>
          </p>
        </div>
        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Jump To...</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="index.html#hero">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="404.html">Sign Up</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="404.html">Research</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="404.html">Projects</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="404.html">Products</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="team.html">Team</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Legal</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a target="_blank" href="https://www.privacypolicies.com/live/811bc24b-902d-4e7a-a420-4795c470b10d">Terms and Conditions</a></li>
            <li><i class="bx bx-chevron-right"></i> <a target="_blank" href="https://www.privacypolicies.com/live/e5c08186-4fb9-4a3f-a6f0-d560c798b2ad">Privacy policy</a></li>
            <li><i class="bx bx-chevron-right"></i> <a target="_blank" href="https://www.privacypolicies.com/live/9ea594f8-d9e6-4593-adaa-bbc51224ece3">Cookie policy</a></li>
            <li><i class="bx bx-chevron-right"></i> <a target="_blank" href="https://www.privacypolicies.com/live/56021214-cf2f-458a-8559-dae24a274b9a">Disclaimer</a></li>
            <li><i class="bx bx-chevron-right"></i> <a target="_blank" href="https://www.privacypolicies.com/live/c07d34dc-9c94-4872-9f6c-42f361c00d7d">EULA</a></li>
            <li><i class="bx bx-chevron-right"></i> <a target="_blank" href="https://app.termly.io/notify/f0e403c8-b479-49cd-9961-abb6fb120704">DSAR</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Subscribe for Updates</h4>
          <p>Get updates about our Research and Projects.</p>
          <form method="POST" action="https://gansub.com/s/4npO/">
            <input type="text" placeholder="First Name" id="first_name" name="first_name" />
            <input type="email" placeholder="Email" id="email" name="email" />
            <input type="hidden" name="gan_repeat_email" />
            <input type="submit" value="Subscribe"/>
          </form>
          <br>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="copyright-wrap d-md-flex py-4">
      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Arc Inc. 2022</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Programmed using HTML5, CSS3, JS/ES6, AngularJS, Firebase, Strapi, etc. in Visual Studio Code by <cite><a
          href="https://ironmarvel.github.io" target="_blank" rel="noopener noreferrer">Mustafa Mahmood @ Iron
          Marvel.</a></cite><br>
          Code OpenSource under MIT License in <a href="https://github.com/Arc-Repo/arc-website" target="_blank">
          <bold><i class="bx bxl-github"></i> Repository. </bold><a href="https://storyset.com/online">Illustrations by Freepik Storyset</a>
          </a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="mailto:technology.arc@outlook.com" target="_blank" class="mailchimp"><i class="bx bxl-mailchimp"></i></a>
        <a href="https://arcinc-blog.blogspot.com" target="_blank" class="googleplus"><i class="bx bxl-google"></i></a>
        <a href="https://github.com/Arc-Repo" target="_blank" class="github"><i class="bx bxl-github"></i></a>
        <a href="https://linkedin.com/in/ironmarvel" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </div>
</footer>