<div id="header" class="fixed-top header-scrolled">
    <div class="container d-flex align-items-center justify-content-between">
        <h1 class="logo"><a href="index.html">Arc Inc.</a></h1>
        <a href="index.html" class="logo"><img src="https://raw.githubusercontent.com/Arc-Repo/arc-website/main/assets/img/Logo Circle-min.png" alt="logo" class="img-fluid"></a>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="/index.html#hero">Home</a></li>
                <li><a class="nav-link" href="/404.html">Research🔬</a></li>
                <li><a class="nav-link" href="/404.html">Projects🛠️</a></li>
                <li><a class="nav-link" href="/404.html">Products☢️</a></li>
                <li><a class="nav-link" href="/team.html">Team🦸🏻‍♀️</a></li>
                <li class="dropdown"><a href="#"><span>More🔽</span></i></a>
                    <ul>
                        <li><a class="nav-link scrollto" href="/index.html#about">About</a></li>
                        <li><a class="nav-link scrollto" href="/index.html#pricing">Pricing</a></li>
                        <li><a class="nav-link scrollto" href="/index.html#contact">Contact</a></li>
                        <li class="dropdown"><a href="#"><span>More...</span> <i class="bi bi-chevron-right"></i></a><ul></ul></li>
                    </ul>
                </li>
                <li><a class="getstarted" href="404.html">Start Up</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>
</div>